// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* --------------------------------

Spacers

-------------------------------- */

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 6),
    8: ($spacer * 8),
);

/* --------------------------------

Grid

-------------------------------- */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/* --------------------------------

Components

-------------------------------- */

// Borders.
$border-radius:               .25rem;
$border-radius-lg:            1rem;
$border-radius-sm:            .125rem;
$border-radius-pill:          9999px;

